* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --font-color-black-basic: #414042;
  --font-color-black-ligth: #BCBEC0;
  --font-color-blue-dark: #465685;
  --color-blue: #00B4DB;
  --color-baby-blue: #E2EEF5;
}
body {
  color: var(--font-color-black-basic);
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-blue);
  width: 100%;
  height: 100%;
}
main {
  display: grid;
  grid-template-columns: 15vw 70vw 15vw;
  grid-template-rows: 10vh 80vh 10vh;
  justify-content: center;
}
main > img{
  height: 100vh;
  z-index: -1;
  position: absolute;
}

.container {
  grid-column: 2/3;
  grid-row: 2/3;

  background-color: whitesmoke;
  border-radius: 1.5rem;
  /* width: 80vw; */
  height: 80vh;
}
.container {
  display: grid;
  grid-template-columns: 1fr .2fr;
  align-content: center;
  justify-content: center;
  align-items: space-between;
}

.login-layer {
  grid-column: 1/2;
  margin: 3rem;
  width: 23vw;
}
.container h2 {
  font-size: smaller;
  font-weight: 500;
  text-align: start;
  margin-top: 1.5rem;
}

.login-layer input {
  padding: 15px;
  border-radius: 1rem;
  border: #BCBEC0 solid 1px;
  width: 100%;
  height: 30px;
}
p {
  font-size: small;
  margin: .5rem;
  text-align: center;
}
a {
  color: var(--font-color-blue-dark);
  text-decoration: none;
  font-size: .8rem;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  width:100%;
  height: 35px;
  text-decoration: none;
  border: none;
  color: white;
  background: #A93159;
  cursor: pointer;
  border-radius: 2rem;
  margin-top: 2rem;
}

.login-alternative {
  display: flex;
  list-style: none;
  gap: .5rem;
  justify-content: space-evenly;
}
.login-alternative img {
  padding: .3rem 2.2rem;
  border: slategray solid 1.6px;
  border-radius: 1.5rem;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
}
.register p {
  opacity: 0.4;
}
.register a {
  font-weight: 500;
}
#avatar-in-box {
  grid-column: 2/3;
}
#avatar-in-box > img {
  max-height: 80vh;
}

/* ===========> MODAL CONFIG ===========> */
.modal-overlay.active {
  display: grid;
  grid-template-columns: 15vw 70vw 15vw;
  grid-template-rows: 10vh 80vh 10vh;
  justify-content: center;

  position: fixed;
  visibility: visible;
  height: 100%;
  width: 100%;
  background: var(--color-blue);
  opacity: 1;
  z-index: 3;
}
.modal-overlay {
  visibility: hidden;
  opacity: 0;
}
.modal {
  grid-column: 2/3;
  grid-row: 2/4;
}

.user-login {
  display: grid;
  grid-template-columns: 35% 65%;

  background-color: whitesmoke;
  padding: 3vh;
  border-radius: 1.5rem;
  height: 80vh;
}
.user-perfil {
  grid-column: 1/2;
  padding: 1.5rem;
}
.user-perfil > img {
  max-height: 20vh;
  clip-path: circle(50% at 50% 50%);
  border: var(--color-blue) solid .3rem;
  border-radius: 6rem;
}
.personal-information {
  display: grid;
  justify-items: left;
  padding-top: .5rem;
}
.personal-information p {
  margin: 0;
}
#nameUser {
  font-weight: bold;
  font-size: 12pt;
}
.score-image {
  font-weight: bold;
  padding-top: .6rem;
}
.score-image img {
  max-width: 6rem;
}
.image-information img {
  margin-top: 1.7rem;
  max-height: 27vh;
}
.deliveries {
  grid-column: 2/3;
}
.deliveries {
  display: grid;
  align-items:baseline;
  justify-items: center;
}
.top-sid {
  display: flex;
  justify-content: center;
}
.top-sid {
  text-align: center;
}
a h3 {
  position: absolute;
  right: 17vw;
  height: 2rem;
  padding: .2rem .8rem;
  color: whitesmoke;
  background: var(--color-blue);
  border-radius: .5rem;
}


@media (max-width: 1220px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;

    font-size: 87%;
  }
  .login-layer {
    margin-top: 6rem;
    width: 40vw;
  }
    #avatar-in-box {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    #avatar-in-box > img{
      width: 1px;
      height: 1px;
    }
}